header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* flex는 거의 다 container에 담아줘야 하는 것들이 있다. */

header div {
  display: flex;
  align-items: center;
}

.header button {
  border: none;
  background-color: white;
}

.header__search button:nth-child(3) {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
}

.title__icons {
  display: flex;
  flex-direction: row;
}

.title__icons button {
  border: none;
  background-color: white;
}

.youtuber {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video__info button {
  border: none;
  background-color: white;
  text-decoration: underline;
}

.youtuber__info {
  display: flex;
  flex-direction: row;
}

.subscribe {
  display: flex;
  align-items: center;
}

.recommend__video__btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.recommend__video__btn button {
  flex-shrink: 0;
  margin: 5px;
}
